.reservation-container {
  width: 60%;
  min-width: 980px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 710px;
  text-align: center;
  margin: 0 auto;
  padding: 40px;
  border-radius: 8px;
}

.reser-req {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 15px;
}

.reser-p {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 50px;
}

.reser-form-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.reser-form-group {
  flex: 1;
}

.reser-label {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="date"],
select,
option {
  width: 290px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid grey;
}

input:focus,
select:focus {
  outline: none;
  /* border-color: #007bff; */
}

.hello {
  margin-top: 60px;
  margin-bottom: 60px;
}

.time-slot-section h4 {
  display: flex;
  font-size: 16px;
  color: #c35b4e;
}

.time-slots {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  /* margin-bottom: 10px; */
  width: 100%;
}

.time-slot {
  width: 170px;
  padding: 10px 15px;
  border: 1px solid black;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

.time-slot:hover {
  background-color: #f5f5f5;
}

.time-slot.selected {
  background-color: #e9ecef;
  border-color: #0142351A;
  background-color: #0142351A;
}

.submit-btn {
  margin-top: 40px;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #014235;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.submit-btn:hover {
  background-color: #23715f;
}